version: "3.9"

services:
  oracle-xe:
    image: gvenzl/oracle-xe:21
    container_name: oracle-xe
    ports:
      - "1521:1521"
      - "5500:5500"
    environment:
      ORACLE_PASSWORD: "Admin#123"
      APP_USER: "carrental"
      APP_USER_PASSWORD: "CarBI#123"
    volumes:
      - oracle-xe-data:/opt/oracle/oradata
    restart: unless-stopped
    networks:
      - backend

  api:
    build:
      context: ./src/api
      dockerfile: Dockerfile
    container_name: car-rental-api
    depends_on:
      - oracle-xe
    environment:
      ORACLE_HOST: oracle-xe
      ORACLE_PORT: 1521
      ORACLE_SERVICE: XEPDB1
      ORACLE_USER: carrental
      ORACLE_PASSWORD: CarBI#123
      API_ENV: "dev"
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - backend

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    container_name: car-rental-frontend
    ports:
      - "5173:5173"
    environment:
      # no backend connection for now (you can add VITE_API_URL later)
      NODE_ENV: development
    restart: unless-stopped
    networks:
      - frontend

volumes:
  oracle-xe-data:

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
